@charset "utf-8";
/* CSS Document */
/*
    Cria a configuração de estilo da estrutura do site (topo, menu,conteúdo e radapé)
*/
header {
    width: 80%;
    height: 10em;
    margin: auto;
    padding: 0.6em;
    background-color: #94cee1;
    box-shadow: -3px 2px 20px 0px #2E2E2E;
}

nav {
    width: 40%;
    margin-top: 3.5em;
    margin-right: 1em;
    float: right;
}

main {
    width: 80%;
    min-height: 30em;
    margin: 2em auto;
    padding: 0.6em;
    background-color: none;
    box-shadow: -3px 2px 20px 0px #2E2E2E;
}

article {
    width: auto;
    min-height: 28em;
    padding: 0.6em
}

header nav h1 {
    font-family: Arial;
    font-size: 1em;
    color: #FFFFFF;
}

footer {
    width: auto;
    height: 5em;
    margin: 2em auto 0em;
    padding: 0.6em;
    background-color: #222222;
}

    footer p {
        font-family: Arial;
        font-size: 1em;
        line-height: 150%;
        text-align: center;
        padding: 0.2em;
        color: white;
        text-decoration:none;
    }

    footer p a {
        color: white;
        text-decoration: none;
    }

/*
    Define a configuração da imagem do menu
*/
.linkhome {
    width: 40%;
    height: 160px;
    margin-left: 2em;
}
/*
    Define a configuração dos botões (links) do menu
*/
.linkBotoes {
    border: 1em;
    background-color: #F44336;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.login {
    width: 50%;
    height: 80%;
    margin: auto;
    margin-top: 20%;
    padding: 0.6em;
    background-color: #DFDFDF;
    box-shadow: -3px 2px 20px 0px #2E2E2E;
}

.gridView {
    width: 80%;
    margin: 2em auto;
    padding: 0.6em;
    box-shadow: -3px 2px 20px 0px #2E2E2E;
}

